{% extends 'shop_base.html' %}

{% block title %}
  {{ super() }} - {{ title }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Shoes</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Description</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, libero eu dignissim eleifend, augue metus convallis nulla, eu efficitur lacus augue in felis. Sed eu tellus eu libero sodales fermentum. Sed euismod, libero eu dignissim eleifend, augue metus convallis nulla, eu efficitur lacus augue in felis. Sed eu tellus eu libero sodales fermentum.</p>
        </div>
    </div>
</div>
{% endblock %}