{% extends 'base.html' %}

{% block content %}
  <h1>Login</h1>
  <form method="POST" action="{{ url_for('register') }}">
    {{ form.csrf_token }} <!-- Пробрасываем токен -->
    {% for field in form if field.name != 'csrf_token' %} <!-- перебераем все поля, генерируем форму -->
      <p>
        {{ field.label }} <br /> <!-- Заголовок -->
        {{ field }} <br />  <!-- само поле -->
        {% if field.errors %}  <!-- если ошибка при вводе -->
          <ul class="alert alert-danger">
            {% for error in field.errors %}
              <li>{{ error }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      </p>
    {% endfor %}
    <p>
      <input type="submit" value="Register" />
    </p>
  </form>
{% endblock %}
